#product_bigPic{
	width: 100%;
	height: auto;
	margin-bottom:10px;
}
#product_bigPic img{
	width: 100%;
	height: auto;
}
ul#product_thumbs li.active{
	border:1px solid #f3f3f3;	
	background:#fff;
	padding:2px;
}
ul#product_thumbs, ul#product_thumbs li{
	margin:0;
	padding:0;
	list-style:none;
}
	
ul#product_thumbs li{
	float:left;
	width: 21.6%;
	height: auto;
	margin-right:7px;
	border:1px solid #fff;	
	padding:2px;
	cursor:pointer;
}
ul#product_thumbs img{
	float:left;
	width: 100%;
	height: auto;
	overflow:hidden;
	position:relative;
	z-index:1;		
}