html, body, #wrap {height: 100%;}
html{min-height: 100%;}
body > #wrap {
	width: 95%;
	max-width: 95%;
	margin: 0 auto;
	}
	
body{
	min-width: 100%;
	font-size: 14px;
	line-height: 1.7;
	letter-spacing: 1px;
	}

.pc{display: none;}
.pc.pad{display: block;}
.mobile{display: block;}
.none{display: none;}

#clear{ clear:both;}
a img {border: 0px;}
a {
	text-decoration: none;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
	}
a:hover {text-decoration: none;}

#top{
	margin: 20px auto 20px auto;
	}

#logo{
	float: left;
	margin: 0;
	}

#logo img{
	width: 120px;
	height: auto;
	}

#topbar{
	width: 160px;
	text-align: right;
	font-family: "Perpetua Titling MT", serif;height: 75px;
	line-height: 30px;
	font-weight: bold;
	float: right;
	padding-top: 15px;
	margin-right: 10px;
	}
	
#topbar a{color: #000;}
	
#banner{
	margin: 0 auto;
	}

#dropnav{padding: 15px 40px;}
	
#navbar{
	float: none;
	width: 100%;
	min-width: 100%;
	margin: 0;
	}

ul#navi{display: none;}
ul#navi li{
	list-style: none;
	position: relative;
	min-width: 100%;
	height: 45px;
	font-size: 20px;
	font-family: "Perpetua Titling MT", serif;
	border-bottom: 1px solid #cacaca;
	display: block;
	}

ul#navi li.cont{border-bottom:0;}

ul#navi li:click{background-color: #f9f9f9;}

ul#navi li a{
	display: block;
	min-width: 50%;
	padding: 0 15px;
	height: 45px;
	line-height: 45px;
	background-repeat: no-repeat;
	color: #000;
	}

ul#navi li#line{display: none;}
ul#navi li .about{line-height: 45px;}
ul#navi li .contact{line-height: 45px;}


#nav_drop{
	display: none;
	position: absolute;
	z-index: 53;
	font-family: "Perpetua Titling MT", serif;
	left: -15px;
    top:-99999px;    /* Remove them out of viewport */
	min-width: 800px;
    opacity: 0;      /* Hide sub level, we will use this in transition */
    -webkit-transition: opacity .4s ease-in-out; /* For chrome & safari */
    -moz-transition: opacity .4s ease-in-out; /* For mozilla firefox */
    -o-transition: opacity .4s ease-in-out; /* For opera */
        transition: opacity .4s ease-in-out; /* Not yet implemented, but will be available soon */
	}

ul#navi li:hover #nav_drop{
	top: 100%;
	opacity: 1;
	}

ul#navi li ul li{
	padding: 0;
	font-family: "Perpetua Titling MT", serif;
	font-size: 13px;
	height: 45px;
 	letter-spacing: 2px;
	background: url(../images/nav_shadow_c.png) repeat-x;
	}
	
#playtitle li{
	list-style: none;
	height: 45px;	
	padding: 0 15px;
	font-size: 20px;
	line-height: 45px;
	font-family: "Perpetua Titling MT", serif;
	letter-spacing: 2px;
	background-color: #f9f9f9;
	border-bottom: 1px solid #cacaca;
	}
	
#playlist{margin: 15px 0;}
#playlist.serv li{
	float: left;
	list-style: none;
	margin: 3px 0;
	padding: 0 15px;
	font-family: "Heiti TC Medium";
	border-left: 2px solid #000;
	font-size: 18px;
	line-height: 1;
	}
	
#playlist li{
	float: left;
	list-style: none;
	margin: 3px 0;
	padding: 0 15px;
	border-left: 2px solid #000;
	font-size: 24px;
	line-height: 0.8;
	font-family: "AdobeArabicRegular", serif;
	}
	
#playlist li a{color: #000;}
	
div.nav_arrow{
	position: relative;
	top: 5px;
	left: 18px;
	z-index: 1;
	margin-bottom: 4px;
	width: 19px;
	height: 13px;
	background: url(../images/nav_arrow.png) no-repeat;
	}

div.shadow_l, div.shadow_r{
	padding: 12px 3px;
	height: 21px;
	float: left;
	}

div.shadow_l{background: url(../images/nav_shadow_l.png) no-repeat;}
div.shadow_r{background: url(../images/nav_shadow_r.png) no-repeat;}

ul#navi li ul li.n3{
	font-size: 14px;
	font-family: 微軟正黑體;
	}

ul#navi li ul li a{
	color: #333;
	padding: 6px 13px;
	position: relative;
	top: 2px;
	height: 21px;
	}
	
ul#navi li ul li a:hover{
	background: #fafafa;
	}

#foot{
	width: 325px;
	padding: 45px 0;
	margin: 0;
	float: right;
	display: block;
	}

#social{
	float: left;
	margin: 3px 10px;
	}

ul#media li{
	list-style: none;
	float: left;
	margin: 0 5px;
	line-height: 1;
	}
	
ul#media li a{border:none;}
ul#media li a:hover{opacity: 0.8;}




/*=====index(商品列表頁)=====*/

#video{
	width: 100%;
	height: 100%;
	overflow: hidden;
	}

#reading{
	position: absolute;
	bottom: 20%;
	left: 50%;
	width: 30%;
	margin-left: -15%;
	padding: 0 8px;
	text-align: center;
	color: #fff;
	font-family: "Perpetua Titling MT", serif;
	font-size: 16px;
	line-height: 30px;
	letter-spacing: 1px;
	border: 1px solid #fff;
	z-index: 99999;
	display: block;
	}

#reading a{
	color: #fff;
	}




/*=====campaign(風格表頁)=====*/

#campwrap{min-height: 700px;}
#viewblock{position: relative;}
#campwrap #dayname{
	position: absolute;
	top: 5px;
	left: 5px;
	width: 100px;
	padding: 0 5px;
	font-size: 21px;
	font-family: "AdobeArabicRegular", serif;
	line-height: 32px;
	text-align: center;
	z-index: 10;
	border: 1px solid #000;
	}
#campwrap #day{border-bottom: 1px solid #000;}
#arrowl{display:none;}
#arrowr{display:none;}
#campaign1{
	position: absolute;
	top: 47px;
	left: 6%;
	width: 44%;
	}
#campaign2{
	position: absolute;
	top: 0;
	left: 52%;
	width: 42%;
	}
#campaign1 img{width:100%; height:auto;}
#campaign2 img{width:100%; height:auto;}
#framebox{
	float: right;
	padding: 0 10px;
	border: 1px solid #000;
	font-family: "Perpetua Titling MT", serif;
	font-size: 10px;
	text-align: center;
	z-index: 3;
	}
	
#pbname{
	font-family: "Perpetua Titling MT", serif;
	font-size: 45px;
	line-height:1;
	z-index: 3;
	}
	
#cmyk{
	font-family: "AdobeArabicRegular", serif;
	font-size: 16px;
	}




/*=====product(商品列表頁)=====*/

#model{
	float: right;
	border-bottom: 1px solid #000;
	margin-bottom: 15px;
	font-size: 18px;
	font-family: 微軟正黑體;
	letter-spacing: 1px;
	}

/*#description{
	float: right;
	padding: 15px;
	}*/
	
#subtitle{
	font-size: 18px;
	font-family: 微軟正黑體;
	letter-spacing: 1px;
	margin-bottom: 12px;
	}

#perproduct{
	margin-bottom: 25px;
	border-bottom: 1px solid #ccc;
	}
#perproduct.last{border: 0 solid #ccc;}
	
#essay{
	font-family: 微軟正黑體;
	letter-spacing: 1px;
	}

#productblock{
	margin: 25px 0;
	list-style: none;
	}

#product{
	position: relative;
	float: left;
	width: 46%;
	height: auto;
	margin: 10px 2%;
	}

#product img{width: 100%; height: 100%;}
#product.last{margin: 10px 2%;}


#hover{
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.7);
    top:-99999px;    /* Remove them out of viewport */
    opacity: 0;      /* Hide sub level, we will use this in transition */
    -webkit-transition: opacity .4s ease-in-out; /* For chrome & safari */
    -moz-transition: opacity .4s ease-in-out; /* For mozilla firefox */
    -o-transition: opacity .4s ease-in-out; /* For opera */
        transition: opacity .4s ease-in-out; /* Not yet implemented, but will be available soon */
	}

#howoord{
	position: relative;
	width: 146px;
	height: 60px;
	left: 50%;
	top: 50%;
	margin-top: -30px;
	margin-left: -73px;
	}

#list3x:hover #hover{
	top: 0;
	left: 0;
    opacity: 1;      /* Hide sub level, we will use this in transition */
	}
	
#list3x #hover #click{
	width: 135px;
	text-align: center;
	margin: 0 auto 12px;
	color: #fff;
	font-family: "Perpetua Titling MT", serif;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 1px;
	padding: 3px 3px 0;
	border: 1px solid #fff;
	}

#list3x #hover #color{
	text-align: center;
	color: #fff;
	font-family: 微軟正黑體;
	}
	
	
	
/*=====product-1(商品詳細頁面)=====*/

#productwrap{padding-top: 0;}
#productimg{
	float: none;
	width: 100%;
	}
	
#productsome{
	float: none;
	width: 100%;
	letter-spacing: 1px;
	font-family: 微軟正黑體;
	}
	
#name{
	font-size: 18px;
	line-height: 25px;
	margin-bottom: 15px;
	}

#price{
	font-size: 14px;
	line-height: 25px;
	font-weight: bold;
	margin: 20px 0;
	width: 25%;
	float: left;
	}

#number{line-height: 25px;
	margin: 20px 0;
	width: 35%;
	float: left;
	}

#gocart{width: 30%;
	text-align: right;
	float: right;
	margin: 20px 0;
	}

.select{
	width: 40px;
	height: 15px;
	background: none;
	border: none;
	}
	
.border{
	padding: 2px 5px;
	border: 1px solid #000;
	}

#intro, #infor{letter-spacing: normal;
	}

#intro{margin-top:0;}
#infor{margin-top:25px;}

#intro #topic, #infor #topic{
	margin-bottom: 7px;
	padding: 5px 0;
	border-bottom: 1px solid #000;
	background: url(../images/plus.png) right no-repeat;
	}

#cartbtn{
	background: #000;
	border: 1px solid #000;
	padding: 4px 6px;color: #fff;
	letter-spacing: 3px;
	}
	
	
	
/*=====product-1-1(購物車內容)=====*/

#productwrap #breadcrumb{
	font-family: "AdobeArabicRegular", serif;
	font-size: 24px;
	letter-spacing: 2px;
	line-height: 28px;
	}
	
#prevtbl table{
	padding-bottom: 16px;
	border-bottom: 1px solid #000;
	margin-bottom: 25px;
	}

#prevtbl table.prevtb1{
	float: none;
	width: 100%;
	padding-bottom: 5px;
	border-bottom: 0;
	margin-bottom: 0;
	}
#prevtbl table.prevtb2{float: none; width: 100%;}
	
#prevtbl table td{
	padding-top: 16px;
	text-align: center;
	font-size: 14px;
	font-family: 微軟正黑體;
	}
	
#prevtbl table.prevtb1 td, #prevtbl table.prevtb2 td{height: auto;}

#prevtbl table th{
	background: #000;
	color: #fff;
	font-family: 微軟正黑體;line-height: 34px;
	letter-spacing: 2px;
	}
	
#prevtbl table.prevtb3, #prevtbl table.prevtb4{
	float: none;
	width: 100%;
	padding-bottom: 0;
	border-bottom: 0;
	}
	
#buynote{width: 100%;float: none;}
#buynote #subtopic{color: #fff; text-align:center;}
#subtopic{
	margin: 12px 0;
	color: #000;
	line-height: 36px;
	text-align: left;
	}
#notetriple ul{border-bottom: 1px solid #000;}
#notetriple ul li{
	list-style: none;
	padding: 8px 0;
	border-bottom: 0 ;
	}
#notetriple ul li.notesub1{width: 18%;}
#notetriple ul li.notesub2{width: 82%;}
#notetriple ul li.noline{border: none;}
#sumup{width: 100%;float: none; margin-top: 30px;}
#sumup table td{
	padding: 8px 0;
	border-bottom: 0;
	}
#sumup table .sum td{border-top: 1px solid #000; border-bottom: 1px solid #000;}
#sumup table td.btn{border: none; text-align: right;}

#continue, #next{
	background: #000;
	border: 1px solid #000;
	width: 100px;
	padding: 4px 6px;color: #fff;
	letter-spacing: 3px;
	}

#continue{margin-right: 13px;}

#updown{
	width: 76px;
	margin: auto;
	}

#no{
	width: 20px;
	margin: 0 10px;
	text-align: center;
	float: left;
	line-height: 20px;
	}

#arrow{float: left; margin: 5px;}

#paid{
	width: 148px;
	height: 15px;
	background: none;
	border: none;
	}
	
	
/*=====product-1-1-1(下一步)=====*/

#prevtbl table table{
	padding-bottom: 0;
	border: 0px;
	margin-bottom: 0;
	}
	
.prevtb3 tr td, prevtb4 tr td{
	text-align: left;
	padding-top: 12px;
	padding-bottom: 13px;
	}
	
.prevtb3 tr td input[type=text], 
.prevtb3 tr td input[type=email], 
.prevtb3 tr td input[type=tel],
.prevtb4 tr td input[type=text], 
.prevtb4 tr td input[type=email], 
.prevtb4 tr td input[type=tel]{
	width: 98%;
	border: 1px solid #000;
	padding: 2px;
	}

textarea{
	width: 98%;
	max-width: 98%;
	height: 80px;
	border: 1px solid #000;
	padding: 2px;
	}
	
/*=====news(新聞列表頁)=====*/

#newswrap{padding-top: 0;}
#newswrap #breadcrumb{
	font-family: 微軟正黑體;
	font-size: 18px;
	letter-spacing: 4px;
	margin-bottom: 28px;
	}

#newswrap #leftcol{float: none;;}
#newswrap #rightcol{
	float: none;
	width: 100%;
	}

#pernews{
	width: 100%;
	font-family: 微軟正黑體;}
	
#pernews_photo{
	width: 100%;
	margin-bottom: 10px;
	}
#pernews_photo img{
	width: 100%;
	}
#pernews_topic{
	margin-bottom: 25px;
	font-size: 30px;
	letter-spacing: 3px;
	}
	
#pernews_breadcrumb{margin-bottom: 10px;}
#pernews_phase{margin-bottom: 20px;}

#pernewssocial{
	border-top: 1px solid #000;
	padding: 15px 0;
	}

#pernewssocial ul li{
	list-style: none;
	float: left;
	height: 20px;
	margin-right: 8px;
	}

#newssub{
	padding-bottom: 12px;
	margin-bottom: 12px;
	border-bottom: 1px solid #cecece;
	font-family: "Perpetua Titling MT", serif;
	font-size: 18px;
	letter-spacing: 1px;
	}

#tagthem{
	font-size: 18px;
	letter-spacing: 1px;
	margin-bottom: 55px;
	}
	
table#lastnews{
	font-size: 14px;
	letter-spacing: 1px;
	margin-bottom: 55px;
	}

table#lastnews tr td{
	padding-bottom: 30px;
	}
#page{
	font-size: 9px;
	line-height: 18px;
	font-family: 微軟正黑體;
	margin: 30px 0;
	}
.pre, .next{float: left; letter-spacing: -6px;}
.pre{margin-right: 30px;}
.next{margin-left: 30px;}
.number{float: left; font-size: 13px;}

	

	
	
	
/*=====about(品牌介紹)=====*/

#aboutwrap{padding-top: 0;}
#aboutwrap #topic{
	font-family: 微軟正黑體;
	font-size: 18px;
	letter-spacing: 4px;
	margin-bottom: 48px;
	}

#since li{
	list-style: none;
	padding-left: 21px;
	margin-bottom: 25px;
	font-family: 微軟正黑體;letter-spacing: 1px;
	background: url(../images/circle.png) 3px 7px no-repeat;
	}

#step li{
	list-style: none;
	padding-left: 21px;
	font-family: 微軟正黑體;letter-spacing: 1px;
	background: url(../images/circle.png) 3px 7px no-repeat;
	}

#ship table.pc.pad{display: inline-block !important; width: 100%;}
#ship table.pc.pad td{width: 25%;}
#ship table.mobile{display: none;}

	
	
	
/*=====contact(聯絡我們)=====*/

#contactwrap{padding-top: 0;}
#contactwrap #topic{
	font-family: 微軟正黑體;
	font-size: 18px;
	letter-spacing: 4px;
	margin-bottom: 48px;
	}
#stationinfo{float: none; width: 100%;}
#contactform{
	float: none;
	width: 100%;
	padding-left: 10px;
	}

#contact{line-height: 23px;}
#contact td{padding-bottom: 18px;}
#contact img{
	padding: 0 10px 2px 3px;
	}

#inputname{
	width: 95%;
	border: 1px solid #000;
	}
#inputcategory{
	width: 95%;
	border: 1px solid #000;
	}
#inputmail{
	width: 95%;
	border: 1px solid #000;
	}
#textareacont{
	width: 95%;
	max-width: 95%;
	height: 105px;
	border: 1px solid #000;
	}

#enter{
	background: #000;
	border: 1px solid #000;
	width: 55px;
	padding: 4px 6px;color: #fff;
	letter-spacing: 3px;
	}


	
	
	
/*=====service(聯絡我們)=====*/

#servicewrap{padding-top: 0;}
#servicewrap #topic{
	font-family: 微軟正黑體;
	font-size: 18px;
	letter-spacing: 4px;
	margin-bottom: 48px;
	}
#servicewrap #topic2{
	font-family: 微軟正黑體;
	font-size: 18px;
	letter-spacing: 4px;
	margin: 25px 0;
	}
#payment{
	width: 100%;
	float: none;
	margin: 0 30px 0 0;
	}
#payment.ibon{width: 100%;}
#servicewrap #subtopic{
	border-bottom: 1px solid #000;
	padding: 4px 0;
	background: url(../images/plus.png) right no-repeat;
	}

	
	
	
/*=====membership=====*/

#memberwrap #leftcol, #memberwrap #rightcol{
	width: 100%;
	margin-bottom: 40px;
	}
#memberwrap #leftcol #breadcrumb, #memberwrap #rightcol #breadcrumb{
	font-family: 微軟正黑體;
	font-size: 18px;
	letter-spacing: 4px;
	margin-bottom: 40px;
	}
#memberwrap #leftcol{float: none;}
#memberwrap #rightcol{float: none;}

#loginblock, #registerblock{margin-top:20px; line-height: 25px;}
#loginblock li, #registerblock li{list-style: none; float: left; padding: 4px;}
#loginblock li.notesub1,
#registerblock li.notesub1{width: 3%;}
#loginblock li.notesub2,
#registerblock li.notesub2{width: 20%;}
#loginblock li.notesub3,
#registerblock li.notesub3{width: 67%;}
#loginblock li.notesub4,
#registerblock li.notesub4{width: 90%; text-align: right;}
#loginblock img, #registerblock img{padding: 9px 0;}

#loginblock #idname, #loginblock #idpassword{
	width: 100%;
	padding: 3px;
	border: 1px solid #000;
	}
#remember_0{padding:0; margin:0; border: 1px solid #000;}

#registerblock #idname, #registerblock #idpassword, #registerblock #checkpassword, #registerblock #registermail, #registerblock #registertel{
	width: 100%;
	padding: 3px;
	border: 1px solid #000;
	}

input#register{
	background: #000;
	border: 1px solid #000;
	width: auto;
	padding: 4px 6px;color: #fff;
	letter-spacing: 3px;
	}

.btnline{
	text-align: right;
	}




	
	
	
/*=====footer=====*/

#footer{
	font-family: "AdobeArabicRegular", serif;
	float: left;
	width: 154px;
	text-align: left;
	font-size: 14px;
	line-height: 1;
	letter-spacing: 1px;
	}
