html, body, #wrap {}

body > #wrap {
	width: 1000px;
	margin: 0 auto;
	}
	
body{
	min-width: 1000px;
	font-size: 13px;
	line-height: 1.7;
	letter-spacing: 1px;
	}

.pc{display: inline-block;}
.pad{display: none;}
.pc.pad{display: inline-block;}
.mobile{display: none;}

#clear{ clear:both;}
a img {border: 0px;}
a {
	text-decoration: none;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
	}
a:hover {text-decoration: none;}

#top{margin: 26px 0 40px;}

#logo{
	float: left;
	margin-right: 23px;
	}

#logo img{width: 132px; height: auto;}

#topbar{
	text-align: right;
	font-family: "Perpetua Titling MT", serif;
	font-size: 13px;
	line-height: 20px;
	height: 20px;
	float: right;
	}
	
#topbar a{color: #000;}
	
#banner{
	margin: 0 auto;
	}
	
ul#navi{display: block;}
#navbar{
	float: left;
	width: 845px;
	margin: 28px 0 0 0;
	}

ul#navi li{
	list-style: none;
	float: left;
	position: relative;
	height: 20px;
	display: block;
	border-bottom: 0;
	}

ul#navi li a{
	display: block;
	height: 20px;
	}

ul#navi li .campaign{
	width: 175px;
	background: url(../images/navi_01.png) no-repeat;
	}

ul#navi li .product{
	width: 163px;
	background: url(../images/navi_02.png) no-repeat;
	}

ul#navi li .service{
	width: 139px;
	background: url(../images/navi_03.png) no-repeat;
	}

ul#navi li .news{
	width: 106px;
	background: url(../images/navi_04.png) no-repeat;
	}

ul#navi li .line{
	width: 4px;
	background: url(../images/navi_05.png) no-repeat;
	}

ul#navi li .about{
	width: 128px;
	background: url(../images/navi_06.png) no-repeat;
	}

ul#navi li .contact{
	width: 130px;
	background: url(../images/navi_07.png) no-repeat;
	}

#nav_drop{
	position: absolute;
	z-index: 53;
	font-family: "Perpetua Titling MT", serif;
	line-height: 21px;
	left: -15px;
    top:-99999px;    /* Remove them out of viewport */
	min-width: 800px;
    opacity: 0;      /* Hide sub level, we will use this in transition */
    -webkit-transition: opacity .4s ease-in-out; /* For chrome & safari */
    -moz-transition: opacity .4s ease-in-out; /* For mozilla firefox */
    -o-transition: opacity .4s ease-in-out; /* For opera */
        transition: opacity .4s ease-in-out; /* Not yet implemented, but will be available soon */
	}

ul#navi li:hover #nav_drop{
	top: 100%;
	opacity: 1;
	}

ul#navi li ul li{
	padding: 0;
	font-family: "Perpetua Titling MT", serif;
	font-size: 13px;
	height: 45px;
 	letter-spacing: 2px;
	background: url(../images/nav_shadow_c.png) repeat-x;
	}
	
div.nav_arrow{
	position: relative;
	top: 5px;
	left: 18px;
	z-index: 1;
	margin-bottom: 4px;
	width: 19px;
	height: 13px;
	background: url(../images/nav_arrow.png) no-repeat;
	}

div.shadow_l, div.shadow_r{
	padding: 12px 3px;
	height: 21px;
	float: left;
	}

div.shadow_l{background: url(../images/nav_shadow_l.png) no-repeat;}
div.shadow_r{background: url(../images/nav_shadow_r.png) no-repeat;}

ul#navi li ul li.n3{
	font-size: 14px;
	font-family: 微軟正黑體;
	}

ul#navi li ul li a{
	color: #333;
	padding: 6px 13px;
	position: relative;
	top: 2px;
	height: 21px;
	}
	
ul#navi li ul li a:hover{
	background: #fafafa;
	}

#foot{
	width: 325px;
	padding: 45px 0;
	margin: 0;
	float: right;
	display: block;
	}

#social{
	float: left;
	margin: 3px 20px 3px 0;
	}

ul#media li{
	list-style: none;
	float: left;
	margin: 0 12px;
	line-height: 1;
	}
	
ul#media li a{border:none;}
ul#media li a:hover{opacity: 0.8;}




/*=====index(商品列表頁)=====*/

#video{
	width: 100%;
	height: 100%;
	overflow: hidden;
	}
	
#reading{
	position: absolute;
	bottom: 20%;
	left: 49%;
	width: 240px;
	text-align: center;
	color: #fff;
	font-family: "Perpetua Titling MT", serif;
	font-size: 16px;
	line-height: 30px;
	letter-spacing: 3px;
	border: 1px solid #fff;
	z-index: 99999;
	display: block;
	}

#reading a{
	color: #fff;
	}




/*=====campaign(風格表頁)=====*/

#campwrap{
	min-height: 830px;
	padding-top: 27px;
	}
#viewblock{position: relative;}
#campwrap #dayname{
	position: absolute;
	top: 20px;
	left: 52px;
	width: 100px;
	padding: 0 5px;
	border: 1px solid #000;
	font-family: "AdobeArabicRegular", serif;
	font-size: 24px;
	line-height: 36px;
	text-align: center;
	z-index: 3;
	}
#campwrap #day{border-bottom: 1px solid #000;}
#arrowl{
	position: fixed;
	top: 50%;
	margin-top: -22px;
	left: 20px;
	}
#arrowr{
	position: fixed;
	top: 50%;
	margin-top: -22px;
	right: 20px;
	}
#campaign1{
	position: absolute;
	top: 60px;
	left: 52px;
	}
#campaign2{
	position: absolute;
	top: 0;
	right: 90px;
	}
#campaign1 img{width: 442px; height:auto;}
#campaign2 img{width: 354px; height:auto;}
#framebox{
	position: absolute;
	top: 735px;
	right: 505px;
	padding: 0 10px;
	border: 1px solid #000;
	font-family: "Perpetua Titling MT", serif;
	font-size: 16px;
	text-align: center;
	z-index: 3;
	}
	
#pbname{
	position: absolute;
	top: 540px;
	left: 555px;
	font-family: "Perpetua Titling MT", serif;
	font-size: 60px;
	line-height:1;
	z-index: 3;
	}
	
#cmyk{
	position: absolute;
	top: 600px;
	left: 555px;
	font-family: "AdobeArabicRegular", serif;
	font-size: 16px;
	z-index: 3;
	}




/*=====product(商品列表頁)=====*/

#productwrap{padding-top: 27px;}
#model{
	float: right;
	border-bottom: 1px solid #000;
	margin-bottom: 15px;
	font-size: 18px;
	font-family: 微軟正黑體;
	letter-spacing: 1px;
	}

/*#description{
	float: right;
	padding: 15px;
	}*/
	
#subtitle{
	font-size: 18px;
	font-family: 微軟正黑體;
	letter-spacing: 1px;
	margin-bottom: 12px;
	}
	
#essay{
	font-family: 微軟正黑體;
	letter-spacing: 1px;
	}

#productblock{
	margin-top: 45px;
	list-style: none;
	}

#product{
	position: relative;
	float: left;
	width: 320px;
	height: 320px;
	margin: 0 20px 0 0;
	}

#product img{width: 320px; height: auto;}

#product.last{margin: 0px;}

#hover{
	position: absolute;
	left: 0;
	width: 320px;
	height: 180px;
	padding: 140px 0 0 0;
	background: rgba(0,0,0,0.7);
    top:-99999px;    /* Remove them out of viewport */
    opacity: 0;      /* Hide sub level, we will use this in transition */
    -webkit-transition: opacity .4s ease-in-out; /* For chrome & safari */
    -moz-transition: opacity .4s ease-in-out; /* For mozilla firefox */
    -o-transition: opacity .4s ease-in-out; /* For opera */
        transition: opacity .4s ease-in-out; /* Not yet implemented, but will be available soon */
	}

#list3x:hover #hover{
	top: 0;
	left: 0;
    opacity: 1;      /* Hide sub level, we will use this in transition */
	}
	
#list3x #hover #click{
	width: 135px;
	text-align: center;
	margin: 0 auto 12px;
	color: #fff;
	font-family: "Perpetua Titling MT", serif;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 1px;
	padding: 3px 3px 0;
	border: 1px solid #fff;
	}

#list3x #hover #color{
	text-align: center;
	color: #fff;
	font-family: 微軟正黑體;
	}




/*=====product-1(商品詳細頁面)=====*/

#productwrap{padding-top: 27px;}
#productimg{
	float: left;
	width: 585px;
	}
	
#productsome{
	float: right;
	width: 395px;
	letter-spacing: 1px;
	font-family: 微軟正黑體;
	}
	
#name{
	font-size: 18px;
	margin: 0 0 15px 0;
	}

#price{
	font-size: 18px;
	font-weight: bold;
	margin: 0 0 15px 0;
	width: auto;
	float: none;
	}

#number{line-height: 22px;
	margin: 0 0 15px 0;
	width: auto;
	float: none;
	}

#gocart{text-align: left;
	margin: 0;
	}

.select{
	width: 40px;
	height: 15px;
	background: none;
	border: none;
	}
	
.border{
	padding: 2px 5px;
	border: 1px solid #000;
	}

#intro, #infor{letter-spacing: normal;
	}

#intro{margin-top: 25px;}
#infor{margin-top: 75px;}

#intro #topic, #infor #topic{
	margin-bottom: 7px;
	padding: 5px 0;
	border-bottom: 1px solid #000;
	background: url(../images/plus.png) right no-repeat;
	}

#cartbtn{
	background: #000;
	border: 1px solid #000;
	padding: 4px 6px;color: #fff;
	letter-spacing: 3px;
	}




/*=====product-1-1(購物車內容)=====*/

#productwrap #breadcrumb{
	font-family: "AdobeArabicRegular", serif;
	font-size: 24px;
	letter-spacing: 2px;
	line-height: 48px;
	}
	
#prevtbl table{
	padding-bottom: 16px;
	border-bottom: 1px solid #000;
	margin-bottom: 25px;
	}

.prevtb1{
	float: left;
	width: 40%;
	padding-bottom: 16px;
	border-bottom: 0;
	}
.prevtb2{float: left; width: 60%;}
	
#prevtbl table td{
	padding-top: 16px;
	text-align: center;
	font-size: 14px;
	font-family: 微軟正黑體;
	}
	
#prevtbl table.prevtb1 td, #prevtbl table.prevtb2 td{height: 162px;}

#prevtbl table th{
	background: #000;
	color: #fff;
	font-family: 微軟正黑體;line-height: 34px;
	letter-spacing: 2px;
	}
	
.prevtb3{float: left; width: 49%;}
.prevtb4{float: right; width: 49%;}
	
#buynote{width: 500px;float: left;}
#subtopic{
	margin: 12px 0;
	background: none;
	color: #000;
	font-family: 微軟正黑體;
	letter-spacing: 2px;
	text-align: left;
	}
#notetriple ul{border-bottom: 0;}
#notetriple ul li{
	list-style: none;
	padding: 10px 0;
	float: left;
	border-bottom: 1px solid #ccc;
	}
#notetriple ul li.notesub1{width: 80px}
#notetriple ul li.notesub2{width: 420px}
#notetriple ul li.noline{border: none;}
#sumup{width: 450px;float: right; margin-top: 0;}
#sumup table td{
	padding: 10px 0;
	border-bottom: 1px solid #ccc;
	}
#sumup table .sum td{border-top: 0; border-bottom: 1px solid #000;}
#sumup table td.btn{border: none; text-align:right;}

#continue, #next{
	background: #000;
	border: 1px solid #000;
	width: 135px;
	padding: 4px 6px;color: #fff;
	letter-spacing: 3px;
	}

#continue{margin-right: 13px;}

#updown{
	width: 76px;
	margin: auto;
	}

#no{
	width: 20px;
	margin: 0 10px;
	text-align: center;
	float: left;
	line-height: 20px;
	}

#arrow{float: left; margin: 5px;}

#paid{
	width: 148px;
	height: 15px;
	background: none;
	border: none;
	}




/*=====product-1-1-1(下一步)=====*/

#prevtbl table table{
	padding-bottom: 0;
	border: 0px;
	margin-bottom: 0;
	}
	
.prevtb3 tr td{
	text-align: left;
	padding-top: 12px;
	padding-bottom: 13px;
	}
	
.prevtb3 tr td input[type=text], 
.prevtb3 tr td input[type=email], 
.prevtb3 tr td input[type=tel],
.prevtb4 tr td input[type=text], 
.prevtb4 tr td input[type=email], 
.prevtb4 tr td input[type=tel]{
	width: 345px;
	border: 1px solid #000;
	padding: 2px;
	}

textarea{
	width: 345px;
	max-width: 345px;
	height: 80px;
	border: 1px solid #000;
	padding: 2px;
	}




/*=====news(新聞列表頁)=====*/

#newswrap{padding-top: 27px;}
#newswrap #breadcrumb{
	font-family: 微軟正黑體;
	font-size: 18px;
	letter-spacing: 4px;
	margin-bottom: 48px;
	}

#newswrap #leftcol{float: left;}
#newswrap #rightcol{
	float: right;
	width: 325px;
	}

#pernews{
	width: 645px;
	font-family: 微軟正黑體;}
	
#pernews_photo{margin-bottom: 40px;}
#pernews_topic{
	margin-bottom: 25px;
	font-size: 30px;
	letter-spacing: 3px;
	}
	
#pernews_breadcrumb{margin-bottom: 30px;}
#pernews_phase{margin-bottom: 50px;}

#pernewssocial{
	border-top: 1px solid #000;
	padding: 15px 0;
	}

#pernewssocial ul li{
	list-style: none;
	float: left;
	height: 20px;
	margin-right: 8px;
	}

#newssub{
	padding-bottom: 12px;
	margin-bottom: 12px;
	border-bottom: 1px solid #cecece;
	font-family: "Perpetua Titling MT", serif;
	font-size: 18px;
	letter-spacing: 1px;
	}

#tagthem{
	font-size: 18px;
	letter-spacing: 1px;
	margin-bottom: 55px;
	}
	
table#lastnews{
	font-size: 14px;
	letter-spacing: 1px;
	margin-bottom: 55px;
	}

table#lastnews tr td{
	padding-bottom: 30px;
	}




/*=====about(品牌介紹)=====*/

#aboutwrap{padding-top: 27px;}
#aboutwrap #topic{
	font-family: 微軟正黑體;
	font-size: 18px;
	letter-spacing: 4px;
	margin-bottom: 48px;
	}

#since li{
	list-style: none;
	padding-left: 21px;
	margin-bottom: 25px;
	font-family: 微軟正黑體;letter-spacing: 1px;
	background: url(../images/circle.png) 3px 7px no-repeat;
	}

#step li{
	list-style: none;
	padding-left: 21px;
	font-family: 微軟正黑體;letter-spacing: 1px;
	background: url(../images/circle.png) 3px 7px no-repeat;
	}




/*=====contact(聯絡我們)=====*/

#contactwrap{padding-top: 27px;}
#contactwrap #topic{
	font-family: 微軟正黑體;
	font-size: 18px;
	letter-spacing: 4px;
	margin-bottom: 48px;
	}
#stationinfo{float: left; width: 485px;}
#contactform{
	float: left;
	width: 485px;
	padding-left: 10px;
	}

#contactblock li{list-style: none; float: left; padding: 4px;}
#contactblock li.notesub1{width: 2%;}
#contactblock li.notesub2{width: 8%;}
#contactblock li.notesub3{width: 83%;}
#contactblock li.notesub4{width: 98%; text-align: right;}
#contactblock li.notesub5{width: 16%;}
#contactblock li.notesub6{width: 29%;}

#loginblock img, #registerblock img{padding: 9px 0;}



#contact{line-height: 23px;}
#contact td{padding-bottom: 18px;}
#contact img{
	padding: 0 10px 2px 3px;
	}

#inputname{
	width: 90%;
	border: 1px solid #000;
	}
#inputcategory{
	width: 90%;
	border: 1px solid #000;
	}
#inputmail{
	width: 100%;
	border: 1px solid #000;
	}
#textareacont{
	width: 100%;
	max-width: 100%;
	height: 105px;
	border: 1px solid #000;
	}

#enter{
	background: #000;
	border: 1px solid #000;
	width: 55px;
	padding: 4px 6px;color: #fff;
	letter-spacing: 3px;
	}




/*=====service(聯絡我們)=====*/

#servicewrap{padding-top: 27px;}
#servicewrap #topic{
	font-family: 微軟正黑體;
	font-size: 18px;
	letter-spacing: 4px;
	margin-bottom: 48px;
	}
#servicewrap #topic2{
	font-family: 微軟正黑體;
	font-size: 18px;
	letter-spacing: 4px;
	margin: 25px 0;
	}
#payment{
	width: 306px;
	float: left;
	margin: 0 30px 25px 0;
	}
#payment.ibon{width: 642px;}
#servicewrap #subtopic{
	border-bottom: 1px solid #000;
	padding: 4px 0;
	background: url(../images/plus.png) right no-repeat;
	}




/*=====membership=====*/

#memberwrap #leftcol, #memberwrap #rightcol{width: 454px;}
#memberwrap #leftcol #breadcrumb, #memberwrap #rightcol #breadcrumb{
	font-family: 微軟正黑體;
	font-size: 18px;
	letter-spacing: 4px;
	margin-bottom: 40px;
	}
#memberwrap #leftcol{float: left;}
#memberwrap #rightcol{float: right;}

#loginblock, #registerblock{margin-top:20px; line-height: 25px;}
#loginblock li, #registerblock li{list-style: none; float: left; padding: 4px;}

#loginblock li.notesub1,
#registerblock li.notesub1,
#loginblock li.notesub2,
#registerblock li.notesub2,
#loginblock li.notesub3,
#registerblock li.notesub3,
#loginblock li.notesub4,
#registerblock li.notesub4{width: auto; text-align: left;}

#loginblock img, #registerblock img{padding: 9px 0;}

#loginblock #idname, #loginblock #idpassword{
	width: 240px;
	padding: 3px;
	border: 1px solid #000;
	}
#remember_0{padding:0; margin:0; border: 1px solid #000;}

#registerblock #idname, #registerblock #idpassword, #registerblock #checkpassword, #registerblock #registermail, #registerblock #registertel{
	width: 320px;
	padding: 3px;
	border: 1px solid #000;
	}

input#register{
	background: #000;
	border: 1px solid #000;
	width: 85px;
	padding: 4px 6px;color: #fff;
	letter-spacing: 3px;
	}




/*=====footer=====*/

#footer{
	font-family: "AdobeArabicRegular", serif;
	float: left;
	width: 154px;
	text-align: left;
	font-size: 14px;
	line-height: 1;
	letter-spacing: 1px;
	}